.device-content-wrapper
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true
    .field
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "off"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "off"
    %br/
    %h5 Sign up as
    .field
      = f.radio_button :role, "project_manager"
      = f.label :role, "Project Manager"
    .field
      %br/
      = f.radio_button :role, "developer"
      = f.label :role, "Developer"
    = f.submit "Sign up", :onclick => "validateSignUpForm();"
  = render "devise/shared/links"