%section.content-header
  %h2 
    Assign Developers To #{@project.name} 
%section.content
  = form_tag assign_developers_projects_path, :id => "proj-dev" do
    = hidden_field_tag "project_id", @project.id
    %table
      %thead
        %tr
          %th
      %tbody
        - @developers.each do |developer|
          %tr
            %td
              = check_box_tag "developer[]", developer.id
              = developer.email
    = submit_tag "Add", :onclick => "validateCheckbox();"
