%head
  %title Project Management
  = favicon_link_tag 'favicon.ico'
  = stylesheet_link_tag "application", :media => "all"
  = javascript_include_tag 'application', "data-turbolinks-track" => true
  = csrf_meta_tags

%body
  .header
    = render "shared/messages"
  -#.container
  = yield

